<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net debug="false">

    <!-- Set default logging level to warning -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="Root" />
    </root>
    <appender name="Root" type="log4net.Appender.RollingFileAppender">
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <param name="datePattern" value="yyyyMMdd'.txt'" />
      <staticLogFileName value="true" />
      <file type="log4net.Util.PatternString" value="Logs/System/log-" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{messageId}] [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <logger name="EntityFrameworkSql">
      <level value="DEBUG" />
      <appender-ref ref="sql" />
      <Additivity value="false" />
    </logger>
    <appender name="sql" type="log4net.Appender.RollingFileAppender">
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <param name="datePattern" value="yyyyMMdd'.txt'" />
      <staticLogFileName value="true" />
      <file type="log4net.Util.PatternString" value="Logs/sql/log-" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{messageId}] [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    
    <logger name="LifeEnterpot.Core.Jobs.SyncPayeasyCategoriesJob">
      <level value="INFO" />
      <appender-ref ref="SyncPayeasyCategoriesJob" />
      <Additivity value="false" />
    </logger>
    <appender name="SyncPayeasyCategoriesJob" type="log4net.Appender.RollingFileAppender">
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <param name="datePattern" value="yyyyMMdd'.txt'" />
      <staticLogFileName value="true" />
      <file type="log4net.Util.PatternString" value="Logs/jobs/syncPayeasyCategories/log-" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{messageId}] [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="LifeEnterpot.Core.Jobs">
      <level value="INFO" />
      <appender-ref ref="Jobs" />
      <Additivity value="false" />
    </logger>
    <appender name="Jobs" type="log4net.Appender.RollingFileAppender">
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <param name="datePattern" value="yyyyMMdd'.txt'" />
      <staticLogFileName value="true" />
      <file type="log4net.Util.PatternString" value="Logs/jobs/log-" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%property{messageId}] [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    
  </log4net>  
</configuration>